<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="service-title pad-bt15">Latest from our blog</h2>
        </div>
        <div class="row">
            <h1>{{post.title}}</h1>
            <h3>Category : {{post.categoryName}}</h3>
        </div>
        <div class="row">
            <p>{{post.description}}</p>
        </div>
        <div class="row">
            <p>Create Date :{{post.createdDate}}</p>
        </div>
    </div>
</div>